[MASTER]
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,E0401,C0415,C0209,C0103,W0718,R0914,W0622

[FORMAT]
max-line-length=120

[BASIC]
bad-names=i,j,k,ex,Run,_

[IMPORTS]
init-import=yes
