blinker
Bootstrap-Flask
click
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
protobuf
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
WTForms
gunicorn
