{% extends "base.html" %}
{% block title %}IDF Forms - Dashboard{% endblock %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}

{% block body %}
<body onload="setDefaultTab()">
  <div class="background"></div>
  <div class="dashboard">
    <div class="logo-container">
      <img class="w-100 me-2" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
    </div>
    {{ render_messages() }}
    <a href="/settings" class="static-settings-btn"><i class="fas fa-cog"></i></a> <!-- Static settings cog icon in the top right corner -->
    <hr> 
    <div class="tabs">
      <button class="tablink active" data-tab="tab1"><i class="fas fa-user"></i> About</button>
      <button class="tablink" data-tab="tab2"><i class="fas fa-plane"></i> Flying</button>
      <button class="tablink" data-tab="tab3"><i class="fas fa-car"></i> Driver</button>
      {% if user.isOfficer %}
      <button class="tablink" data-tab="tab4"><i class="fas fa-file-alt"></i> Tasks</button>
      {% endif %}
      <button class="tablink" data-tab="tab5"><i class="fas fa-bell"></i> Updates</button>
      <button class="tablink" data-tab="tab6"><i class="fas fa-network-wired"></i> Meet Us</button>
      <a href="/logout" class="tablink logout-btn"><i class="fas fa-sign-out-alt"></i></a>
    </div> 

    <div class="tabcontent-container">
      {% block dashboard_content %} {% endblock %}
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../static/js/script.js"></script>
</body>
{% endblock %}
