{% extends "dashboard.html" %}
{% from 'bootstrap5/form.html' import render_field %}


{% block dashboard_content %}
<div id="tab1" class="tabcontent">
  <h2>About the project</h2>
  <p> IDF Forms Dashboard is a web application designed to manage various forms and processes for the Israel Defense Forces (IDF). 
    It provides a user-friendly interface for handling different tasks and permissions for officers and personnel.
  </p>
  <p>
    The app was built as part of ORT Singalovski studies.
  </p>
  <h2>Built with</h2>
  <p> <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="HTML5"> <img src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white" alt="css"> <img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E" alt="Javascript"></p>
</div>

<div id="tab2" class="tabcontent">
  <!-- Your content for tab 2 (Flying Form) goes here -->
</div>

<div id="tab3" class="tabcontent">
  <!-- Your content for tab 3 (Driver's Form) goes here -->
</div>

<div id="tab4" class="tabcontent">
  <h2>Assignments</h2>
  <form action="{{ url_for('formapp.index') }}" method="post" class="task-form">
    {{ task_form.csrf_token }}
    <div class="mb-3">
      {{ render_field(task_form.user, class="form-select", placeholder="Select User") }}
    </div>
    <div class="mb-3">
      {{ render_field(task_form.task, class="form-control", placeholder="Enter Task", rows="4") }}
    </div>
    <div class="mb-3">
      {{ render_field(task_form.submit, class="button") }}
    </div>
  </form>
</div>

<div id="tab5" class="tabcontent">
  <h2>Updates</h2>
  <!-- Your content for tab 5 (Updates) goes here -->
</div>
{% endblock %}
