{% extends "dashboard.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}


{% block dashboard_content %}
<div id="tab1" class="tabcontent">
  <h2>IDF - Forms</h2>
  <hr>
  <p> IDF Forms Dashboard is a web application designed to manage various forms and processes for the Israel Defense Forces (IDF). 
    It provides a user-friendly interface for handling different tasks and permissions for officers and personnel.
  </p>
  <p>
    The app was built as part of ORT Singalovski studies.
  </p>
<h2>Built with</h2>
<p> <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="HTML5"> <img src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white" alt="css"> <img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E" alt="Javascript"> <img src="https://img.shields.io/badge/mysql-%2300f.svg?style=for-the-badge&logo=mysql&logoColor=white" alt="MySQL"> <img src="https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white" alt="Docker"> </p>
<p> <img src="https://img.shields.io/badge/jenkins-%232C5263.svg?style=for-the-badge&logo=jenkins&logoColor=white" alt="Jenkins"> <img src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54" alt="Python"> </p>
</div>

<div id="tab2" class="tabcontent">
  <h2 class="text-center mb-4">Flying Form</h2>
  <hr>
  <form action="{{ url_for('formapp.index') }}" method="post">
    {{ flying_form.hidden_tag() }}
    <div class="row mb-3">
      <div class="col-md-6">
        {{ render_field(flying_form.full_name, class="form-control", placeholder="Enter Full Name") }}
      </div>
      <div class="col-md-6">
        {{ render_field(flying_form.start_date, class="form-control", placeholder="Start Date") }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        {{ render_field(flying_form.end_date, class="form-control", placeholder="End Date") }}
      </div>
      <div class="col-md-6">
        {{ render_field(flying_form.location, class="form-control", placeholder="Location") }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        {{ render_field(flying_form.submit, class="button") }}
      </div>
    </div>
  </form>
</div>








<div id="tab3" class="tabcontent">
  <h2>Driver Form</h2>
  <hr>
  <form action="{{ url_for('formapp.index') }}" method="post" class="driver-form">
    {{ driver_form.csrf_token }}
    <div class="row">
      <div class="col-md-6 mb-3">
        {{ render_field(driver_form.full_name, class="form-control", placeholder="Enter Full Name") }}
      </div>
      <div class="col-md-6 mb-3">
        {{ render_field(driver_form.destination, class="form-control", placeholder="Enter Destination") }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        {{ render_field(driver_form.commanding_officer, class="form-select", placeholder="Select Commanding Officer") }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        {{ render_field(driver_form.submit, class="button") }}
      </div>
    </div>
  </form>
</div>

<div id="tab4" class="tabcontent">
  <h2>Assignments</h2>
  <hr>
  <form action="{{ url_for('formapp.index') }}" method="post" class="task-form">
    {{ task_form.csrf_token }}
    <div class="mb-3">
      {{ render_field(task_form.user, class="form-select", placeholder="Select User") }}
    </div>
    <div class="mb-3">
      {{ render_field(task_form.task, class="form-control", placeholder="Enter Task", rows="4") }}
    </div>
    <div class="mb-3">
      {{ render_field(task_form.submit, class="button") }}
    </div>
  </form>
</div>

<div id="tab5" class="tabcontent">
  <h2>Updates</h2>
  <hr>
  <div class="scrollable-updates">
  {% for username, tasks in user_tasks.items() %}
    {% for task in tasks %}
      <div class="card mb-2">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h5 class="card-title">Task Form: {{ task }}</h5>
              <p class="card-text">Assigned to: {{ username }}</p>
            </div>
            <form action="{{ url_for('formapp.delete_task') }}" method="post">
              {{ task_form.csrf_token }}
              <input type="hidden" name="task" value="{{ task }}">
              <input type="submit" value="Delete Task" class="btn btn-danger btn-sm">
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}

{% for flying_entry in flying_entries %}
  <div class="card mb-3 {% if flying_entry.isConfirmed %}border-success{% else %}border-danger{% endif %}">
    <div class="card-header">
      <div class="w-100 d-flex justify-content-between align-items-center">
        <div>
          <h5 class="card-title mb-0 mt-2">Flying Form: {{ flying_entry.full_name }}</h5>
        </div>
        <div class="btn-group">
          {% if current_user.isOfficer %}
            <form action="{{ url_for('formapp.confirm_flying', flying_id=flying_entry.id) }}" method="post">
              {{ flying_form.csrf_token }}
              <input type="hidden" name="flying_id" value="{{ flying_entry.id }}">
              <button type="submit" class="btn btn-success btn-sm {% if flying_entry.isConfirmed %}disabled{% endif %}">Confirm</button>
            </form>
            <form action="{{ url_for('formapp.not_confirm_flying', flying_id=flying_entry.id) }}" method="post" class="ms-1">
              {{ flying_form.csrf_token }}
              <input type="hidden" name="flying_id" value="{{ flying_entry.id }}">
              <button type="submit" class="btn btn-danger btn-sm {% if not flying_entry.isConfirmed %}disabled{% endif %}">Deny</button>
            </form>
            <form action="{{ url_for('formapp.delete_flying', flying_id=flying_entry.id) }}" method="post" class="ms-1">
              {{ flying_form.csrf_token }}
              <input type="hidden" name="flying_id" value="{{ flying_entry.id }}">
              <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">Start Date: {{ flying_entry.start_date }}</p>
      <p class="card-text">End Date: {{ flying_entry.end_date }}</p>
      <p class="card-text">Location: {{ flying_entry.location }}</p>
    </div>
    <div class="card-footer text-center">
      <!-- No need for buttons in this section -->
    </div>
  </div>
{% endfor %}


  {% for drive in drives %}
    <div class="card mb-3 {% if drive.isConfirmed %}border-success{% elif not drive.isConfirmed %}border-danger{% endif %}">
      <div class="card-header">
        <div class="w-100 d-flex justify-content-between align-items-center">
          <div>
          <h5 class="card-title mb-0 mt-2">Driver Form: {{ drive.full_name }}</h5>
        </div>
          <div class="btn-group">
            {% if current_user.isOfficer %}
              <form action="{{ url_for('formapp.confirm_drive', drive_id=drive.id) }}" method="post">
                {{ driver_form.csrf_token }}
                <input type="hidden" name="drive_id" value="{{ drive.id }}">
                <button type="submit" class="btn btn-success btn-sm {% if drive.isConfirmed %}disabled{% endif %}">Confirm</button>
              </form>
              <form action="{{ url_for('formapp.not_confirm_drive', drive_id=drive.id) }}" method="post" class="ms-1">
                {{ driver_form.csrf_token }}
                <input type="hidden" name="drive_id" value="{{ drive.id }}">
                <button type="submit" class="btn btn-danger btn-sm {% if not drive.isConfirmed %}disabled{% endif %}">Deny</button>
              </form>
              <form action="{{ url_for('formapp.delete_drive', drive_id=drive.id) }}" method="post" class="ms-1">
                {{ driver_form.csrf_token }}
                <input type="hidden" name="drive_id" value="{{ drive.id }}">
                <button type="submit" class="btn btn-secondary btn-sm">Delete Drive</button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Destination: {{ drive.destination }}</p>
      </div>
      <div class="card-footer {% if drive.isConfirmed %}bg-success{% elif not drive.isConfirmed %}bg-danger{% endif %} text-center">
        <div class="d-flex justify-content-center">
          <!-- Button forms here -->
        </div>
      </div>
    </div>
  {% endfor %}
</div>
</div>


<div id="tab6" class="tabcontent">
  <h2>Meet us!</h2>
  <hr>
  <p class="mb-4 text-center">As DevOps Engineers, we are continuously working to improve and optimize it.</p>
  <div class="integration-list row justify-content-center py-5">
    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg text-center">
      <a href="https://www.linkedin.com/in/stav-bendarsky/" target="_blank">
        <img class="shadow rounded-circle" src="https://media.licdn.com/dms/image/D4D03AQEh8hNjDDtOJA/profile-displayphoto-shrink_200_200/0/1689615852246?e=1696464000&v=beta&t=QU5vyDz3glCqkSOftRQfENDgGYNn9WYApJ2FO6PE6xE" alt="Stav Bendarsky">
      </a>
      <h6 class="mt-3">Stav Bendarsky</h6>
      <p class="mb-0">DevOps Engineer</p>
      <div class="github-link">
        <a href="https://github.com/sbendarsky" class="github-icon" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://github.com/sbendarsky" target="_blank"></a>
      </div>
    </div>
    <div class="item col-4 col-md-3 col-lg-2 mb-3 mb-lg-5 top-line-lg text-center">
      <a href="https://www.linkedin.com/in/daniel-shwartzman/" target="_blank">
        <img class="shadow rounded-circle" src="https://media.licdn.com/dms/image/D4E03AQHW2rB27uFBBQ/profile-displayphoto-shrink_200_200/0/1689177010875?e=1696464000&v=beta&t=v1NXP7jCTv0AWw4H2uoPkB4LZPc4R2CRPbZLNmu71Y4" alt="Daniel Shwartzman">
      </a>
      <h6 class="mt-3">Daniel Shwartzman</h6>
      <p class="mb-0">DevOps Engineer</p>
      <div class="github-link">
        <a href="https://github.com/Daniel-Shwartzman" class="github-icon" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://github.com/Daniel-Shwartzman" target="_blank"></a>
      </div>
    </div>
  </div>
  </div>
</div>


{% endblock %}
